<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <script src="js/angular.js"></script>
  <title></title>
</head>
<body ng-app>

<table ng-init="stuList=[
  {name:'Jack',age:30,score:100},
  {name:'Mary',age:33,score:80},
  {name:'Michael',age:31,score:50},
  {name:'Lary',age:32,score:90},
  {name:'Lincoln',age:30,score:66}
  ]">
  <thead>
  <tr>
    <th>姓名</th>
    <th>年龄</th>
    <th>成绩</th>
  </tr>
  </thead>

  <tbody>
    <tr ng-repeat="obj in stuList" ng-if="obj.score > 80">
      <td ng-repeat="tmp in obj">
        {{tmp}}
      </td>
      <!--<td>{{obj.name}}</td>-->
      <!--<td>{{obj.age}}</td>-->
      <!--<td>{{obj.score}}</td>-->
    </tr>
  </tbody>

</table>

</body>
</html>