<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="js/angular.js"></script>
</head>
<body>

<div ng-controller="myCtrl">
    <button ng-click="add()">添加</button>
    <table>
        <thead>
        <tr>
        <th>单价</th>
        <th>数量</th>
        <th>小计</th>
        <th>删除</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="product in cart">
            <td>{{product.price}}</td>
            <td>{{product.count}}</td>
            <td>{{product.price*product.count}}</td>
            <td><button ng-click="delete($index)">删除</button></td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope) {
        $scope.cart = [{price: 4.5, count: 2}, {price: 5.5, count: 3}];
        $scope.add = function () {
            $scope.cart.push({price:Math.round(Math.random()*10),count:3});
        }
        $scope.delete = function (index) {
            $scope.cart.splice(index,1);
        }
    })
</script>
</body>
</html>